# Supabase - Transaction Pooler (puerto 6543) - para queries
DATABASE_URL="postgresql://postgres.[ref]:[password]@aws-0-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase - Direct Connection (puerto 5432) - para migraciones
DIRECT_URL="postgresql://postgres.[ref]:[password]@aws-0-eu-west-3.pooler.supabase.com:5432/postgres"

# NextAuth
NEXTAUTH_SECRET="genera-con: openssl rand -hex 32"
NEXTAUTH_URL="http://localhost:3000"
